<div class="container">
    <div class="div1"></div>
    <div class="div2"></div>
    <div class="div3"></div>
    
  </div>
  <style>
    .container {
      width:400px;
      height:300px;
      background-color:#62306D;
    }
    .div1 {
      width:120px;
      height:120px;
      background-color:#F3AC3C;
      border-radius:60px;
      position:absolute;
     
      top:40px;
      left:230px;
    }
    .div2 {
      width:120px;
      height:120px;
      background-color:#998235;
      border-radius:60px 0px 60px 60px ;
      position:absolute;
      top:100px;
      left:170px;
    }
    .div3 {
       width:120px;
      height:120px;
      background-color:#F3AC3C;
      border-radius:60px 0px 60px 60px;
      position:absolute;
      top:150px;
      left:100px;
    } 
  </style>
   
    